@if (loading()) {
  <app-loading-state />
} @else if (rows().length === 0) {
  <app-empty-state [message]="emptyMessage()" />
} @else {
  <table mat-table [dataSource]="rows()" matSort (matSortChange)="onSort($event)" class="data-table">
    @for (col of columns(); track col.key) {
      <ng-container [matColumnDef]="col.key">
        <th mat-header-cell *matHeaderCellDef [mat-sort-header]="col.sortable ? col.key : ''">
          {{ col.label }}
        </th>
        <td mat-cell *matCellDef="let row">
          @if (cellTemplate(); as tpl) {
            <ng-container *ngTemplateOutlet="tpl; context: { $implicit: row, column: col.key }" />
          } @else {
            {{ $any(row)[col.key] }}
          }
        </td>
      </ng-container>
    }
    @if (actionsTemplate(); as actionsTpl) {
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngTemplateOutlet="actionsTpl; context: { $implicit: row }" />
        </td>
      </ng-container>
    }
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      tabindex="0"
      class="data-table__row"
      (click)="rowClick.emit(row)"
      (keydown.enter)="rowClick.emit(row)"
    ></tr>
  </table>
}
